// Colors
$colors: (
    marvel-red: #ed1d24
);

// Navbar
$marvellish-font: 'Fjalla One', sans-serif;
$navbar-title-font-size: 2rem;
$navbar-title-letter-spacing: -1px;

// Content
$content-height: 90vh;
$content-width: 100%;

// Search Box
$search-box-top-margin: 1rem;
$search-box-width: 584px;
$search-box-max-width: 90%;

// Search
$search-logo-margin-top: 10%;
