@import './../../styles';

.character-container {
    display: inline-block;
}
.name {
    margin-top: 2rem;
    font-family: $marvellish-font;
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: $navbar-title-letter-spacing;
    color: white;
    text-transform: uppercase;
}
.image {
    width: 50%;
    float: left;
    margin-top: 5rem;
    height: 500px;
    max-height: 50vh;
}
.image img {
    height: 100%;
}
.description {
    width: 50%;
    float: left;
    margin-top: 5rem;
    height: 500px;
    max-height: 50vh;
    font-size: 1.5rem;
}
.description p {
    width: 80%;
    background-color: #fff;
    padding: 3rem;
    box-shadow: 0 0 4px 1px #efefef inset;
    border-radius: 10px;
    height: 100%;
}